spring:
  datasource:
    url: jdbc:mysql://localhost:3308/child?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
